.spells-container {
  background-image: url('https://image.freepik.com/free-photo/old-grunge-dark-textured-wooden-background-surface-old-brown-wood-texture_7182-333.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}