.favourites-container {
    background-image: url('https://vignette.wikia.nocookie.net/pottermore/images/b/b6/Divination.png/revision/latest?cb=20121221000858');
    height: 100vh;
    background-size: cover;
}

.favourites {
  text-align: center;
}