* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-section {
  background-image: url('https://vignette.wikia.nocookie.net/hogwarts-life/images/c/c6/B1-background.jpg/revision/latest?cb=20161010205000');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 10px auto;
}

.wizard-name {
    font-size: 20px;
    border: none;
    z-index: 10;
    background: transparent;
    position: absolute;
    top: 2.5em;
    left: 10em;
    text-align: center;
}

.banner {
   animation: float 5s linear infinite;
}

.sorting-button {
    height: 10em;
    width: 14em;
    display: block;
    margin: auto;
    transition: transform .8s ease-in-out;
    cursor: pointer;
}

.sorting-button:hover {
    transform: rotate(360deg);
}

.name-banner {
  height: 10em;
}

.submit-text {
    position: relative;
    text-align: center;
    bottom: 80px;
    color: white;
}

@keyframes float {
    20% {
      transform: translate(3px, 1px);
    }
    50% {
      transform: translate(20px, 5px); 
    }
    70% {
      transform: translate(30px, 8px);
    }
    100% {
      transform: translate(3px, 1px);
    }
}