* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-section {
  background-image: url('https://thumbs.gfycat.com/HardHoarseBarasinga-size_restricted.gif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 10px auto;
}

.wizard-name {
    font-size: 35px;
    border: none;
    letter-spacing: 2px;
    background: transparent;
    position: absolute;
    top: 1em;
    left: 0.7em;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

.wizard-name::placeholder {
  font-family: 'Henny Penny', cursive;
}

.banner {
   animation: float 5s linear infinite;
}

.sorting-button,
.sorting-button-invalid {
    width: 18em;
    display: block;
    margin: auto;
    cursor: pointer;
}

.sorting-button-invalid {
  cursor: inherit;
} 

.sorting-container {
  transition: transform .8s ease-in-out;
}

.sorting-container:hover {
    transform: rotate(360deg);
}

.name-banner {
  height: 10em;
  margin-left: -5em;
}

.submit-text, 
.submit-hat {
  position: relative;
  text-align: center;
  bottom: 131px;
  left: 13px;
  color: #f5be77;
  font-size: 37px;
  text-shadow: 2px 2px black;
  font-family: 'ZCOOL XiaoWei', serif;
}

.submit-hat {
  font-size: 37px;
  color: #f11818;
}

a {
  text-decoration: none;
}

@keyframes float {
    20% {
      transform: translate(3px, 1px);
    }
    50% {
      transform: translate(20px, 5px); 
    }
    70% {
      transform: translate(30px, 8px);
    }
    100% {
      transform: translate(3px, 1px);
    }
}