.spell-container {
  text-align: center;
  position: relative;
  top: 2em;
  width: 44%;
  margin: auto;
}

.spell-info {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 12em;
}

.spell-info > h3 {
  font-family: 'Henny Penny', cursive;
  color: black;
  font-size: 4em;
}

.spell-info > h4 {
  margin-top: -2em;
  font-size: 20px;
}

.spell-info > p {
  font-size: 30px;
}
  
.favourite-wand {
   height: 8em;
   margin-left: 30em;
   transform: rotate(13deg);
   transition: linear 2s ease-in-out;
   cursor: grab;
}

.favourite-wand:hover {
  transform: rotate(-13deg);
}
  
.paper-img {
  display: block;
  margin: auto;
  margin-top: -20em;
}

.chosen-wand {
  height: 8em;
  margin-left: 30em;
  transform: rotate(110deg);
  transition: linear 2s ease-in-out;
  cursor: grab;
  border-radius: 50%;
  background-color: #ffeb00b8;
  box-shadow: 
    0 0px 1px #ffeb0045, 
    0 0 86px 19px #ffeb3b73, 
    0 0 23px 46px #ffeb3b9c;
}

.chosen-wand:hover {
  transform: rotate(125deg);
}